# coding: utf-8

module Kaomojify
  module Config
    # Your Twitter app auth details from https://dev.twitter.com/
    CONSUMER_KEY = ""
    CONSUMER_SECRET = ""
    OAUTH_TOKEN = ""
    OAUTH_TOKEN_SECRET = ""

    USERNAME = "m1sp" # Username of account to kaomojify
    NAME = "Mispy" # Name to append kaomoji to

    # Mapping of emotion names to kaomoji
    KAOMOJI = {
      happy:   ["(o^_^)o", "o(^_^o)"],
      angry:   ["(◣_◢)", "(*≧m≦*)", "(¬､¬)", "o(≧o≦)o"],
      sad:     ["o(╥﹏╥)o", "(╥﹏╥)", "(T.T;)"],
      loving:  ["(✿ ♥‿♥)", "✿♥‿♥✿"],
      excited: ["Ｏ(≧▽≦)Ｏ", "(ﾉ≧∀≦)ﾉ"],
      silly:   ["（・∀・）", "(●´艸`)"],
      technical: ["φ(．．)", "φ(^ω^*)ﾉ"]
    }

    # Unknown kaomoji will be used if there's insufficient
    # data to analyse emotional state
    KAOMOJI[:unknown] = ["┗(･ω･;)┛", "(•ิ_•ิ)?"]

    # If no emotion deviates more than DEVIATION_THRESHOLD
    # from the average, we will use the "neutral" kaomoji
    DEVIATION_THRESHOLD = 0.05
    KAOMOJI[:neutral] = ["(｡･･｡)", "(｡^^｡)"]

    PATH_ROOT = File.expand_path(File.dirname(__FILE__))
    PATH_EMOTIONS = File.join(PATH_ROOT, "emotions.tsv")
    PATH_CORPUS = File.join(PATH_ROOT, "#{USERNAME}.json")
  end
end
